{% extends "layout.html"%}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top"  src="" alt="" style="height: 15rem; width: 100%">
        <div class="card-body">
          <h5 class="card-title">Defecto</h5>
          <a href="#" class="btn btn-primary">Verificar</a>
          <a href="#" class="btn btn-danger">Rechazar</a>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock content %}
